/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/*****************************************/
/* Down here are personal style rules (not scaffolding) */

body{ font-size: 16px;}

/* Title */
.title h1{margin:10px 10px 10px 200px}


/* Login */
.login ul.nav {margin-right: 100px;}
.login .nav a{color: black;padding-right: 40px;}

/* Navbar */
.navbar{background: linear-gradient(to right, #666666, #999999)}
.navbar .navbar-collapse .navbar-nav a{
    color:#ffffff;
    padding-right: 100px;
    font-size: 18px;
}
.navbar {border-radius: 0}

/* Control bar */
.glyphicon {font-size: 20px;top: 3px;}
.glyphicon-plus-sign{color: darkgreen;}
.glyphicon-minus-sign{color: darkred;}

/* Table container */
div.table-container{
    background-color:darkgray;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    max-height:650px;
    overflow:auto;
}

/* Main table */
div.table-container td, div.table-container th{width:25%; text-align:right;}
table.table tbody tr td{padding:3px;}

/* Transaction group */
div.transaction-group{
    background-color:whitesmoke;
    padding: 0px 20px 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
div.transaction-group th{text-align:left;}
div.transaction-group table{
    margin: 0;
    border-collapse: separate;
    border-spacing: 0 5px;
}
div.transaction-group tbody tr{
    /*border: 2px solid black;*/
    background-color:lightblue;
    /*border-radius: 15px;*/
}

/* Allows text next to the input*/
.form-control{
    display: inline;
}